# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# 虚拟环境
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyTorch
data/          # MNIST数据自动下载到此目录

# OS
.DS_Store
Thumbs.db
